.vscode
__pycache__/
.ipynb_checkpoints/
.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pyg
*.synctex.gz
mnist_detection/
SSD/outputs/**/*.pth
original_mnist/
tags
SSD/ssd/data/
datasets/
.envrc
outputs/
